<h1>Tarot Decks<%= button_to "Register New Deck", "/tarot_decks/new", :method => "get" %></h1>
<div class="right">
<% @tarot_decks.each do |deck| %>
  <h3><a href="/tarot_decks/<%="#{deck.id}"%>"> <%= "#{deck.name}"%> </a></h3>
  <ul>
    <li>Added to system on: <%= deck[:created_at] %></li>
  </ul>
<% end %>
</div><br>
